@import "tailwindcss";
body {
  background-color: #222831;
}
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-background {
  background-size: 200% 200%;
  animation: gradientBackground 3s ease infinite;
}
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-background {
  background-size: 200% 200%;
  animation: backgroundAnimation 2s ease infinite;
}
